accelerate==1.0.1
certifi==2022.9.24
diffusers==0.31.0
gdown==4.7.3
grpcio==1.66.1
gurobipy==11.0.3
huggingface_hub==0.26.2
idna==3.4
matplotlib==3.6.3
numpy==1.24.4
pandas==1.4.3
pillow==10.2.0
protobuf==5.27.3
requests==2.31.0
safetensors==0.4.5
six==1.16.0
torch==2.0.1
torchvision==0.15.2
transformers==4.46.3
urllib3==1.26.14